.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: large;
}

.card {
  width: 50rem;
  min-height: 50vh;
}

th {
  padding: 10px;
  background-color: #fcdbbb;
  border: 1px solid #fcdbbb;
}

td {
  padding: 10px;
  border: 1px solid #eee;
}

tr:nth-of-type(even) {
  background-color: #f6f6f6;
}

